* {
    box-sizing: border-box;
}


body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

#flipper-buttons {
    margin-top: 5px;
    display: none;
    gap: 10px;
    justify-content: center;
}

#bonus-stage-selector-buttons {
    margin-top: 5px;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.flipper-button {
    width: 150px;
    height: 60px;
    font-size: 24px;
    padding: 10px 20px;
}

#keyboard-instructions{
    margin-top: 10px;
    display: none;
    gap: 10px;
    justify-content: center;
}

#controls button {
    padding: 0;
    width: 72px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
}

#controls button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
  #flipper-buttons{
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  #keyboard-instructions{
    display: block;
  }
}